
.imgsabout{
    border-radius: 100% !important;

}
.abouttopheading{
    text-align: center;
    color: rgb(131, 240, 131);
}
.skilltext{
font-size: 19px;
text-align: center;

}
.testimonial{
    text-align: center;
    font-size: 20px;
}
.testimonialheading{
    text-align: center;
    color: rgb(131, 240, 131);
    font-size: 40px;
}
.contactusheading{
    text-align: center;
    font-size: 40px;
    color: rgb(131, 240, 131);
}
.footertext{
    text-align: center;
}
.addressabout{
    text-align: center;
}
